@import url(common.css);
@import url(checkbox.css);
@import url(input.css);

.dropdown {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: var(--color-day-white);
  box-shadow: 0 0.5rem 1.5rem var(--dropdown-shadow),
    0 0.25rem 0.5rem var(--dropdown-shadow),
    0 0.125rem 0.125rem var(--dropdown-shadow);
  width: 10rem;
  box-sizing: border-box;
}

.dropdown_with-list {
  height: 13rem;
  padding: 0.5rem 0;
}

.dropdown_with-input {
  height: 5.5rem;
  padding: 1rem;
}

.dropdown_with-dialog {
  height: 7rem;
  padding: 1rem;
  align-items: center;
}

.dropdown_with-dialog button:last-child {
  margin-top: 0.5rem;
}

.dropdown_with-dialog .button {
  width: 8rem !important;
}

.dropdown__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.dropdown__title {
  display: flex;
  align-self: flex-start;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  margin-bottom: 0.5rem;
}

.dropdown__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2rem;
  padding: 0.5rem 3rem 0.5rem 1rem;
  background-color: inherit;
  box-sizing: border-box;
  cursor: pointer;
}

.dropdown__item:hover {
  background-color: var(--color-day-light-blue);
}

.dropdown__item:active {
  background-color: var(--color-blue);
}
